<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
<h1>Admin</h1>
<p>Number Of Students:<%=numberOfStudents%></p>
<p>Number Of Tutors:<%=numberOfTutors%></p>
<p>Available Sessions:<%=availableSessions%></p>
<p>Completed Sessions:<%=completedSessions%></p>
<p>Expired Sessions:<%=expiredSessions%></p>

  </body>
</html>
